<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @title || "Northern California Music &amp; Art Culture Center" %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/clearfix.css" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/js/application.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="header">
      <div class="content">
	<a href="/"><img src="/images/logo.png" alt="" style="width: 150px" /></a>
	<ul id="top-navigation">
	  <li class="item">
	    <a class="top-link" id="about-link" style="" href="/about">About Us</a>
	    <div id="about-dropdown">
	      <ul>
		<% [["Board", "/about/board"],
		   ["Faculty and Staff", "/about/faculty_and_staff"],
		   ["Contact Us", "/about/contact_us"],
		   ["FAQs", "/about/faqs"], ["Jobs", "/jobs"]].each do |name, path| %>
		  <li><a href="<%= path %>"><%= name %></a></li>
		<% end %>
	      </ul>
	    </div>
	  </li>
	  <li class="item">
	    <a class="top-link" id="programs-link" href="/programs">Programs</a>
	    <div id="programs-dropdown" class="cf">
	      <% for name, programs, description in PROGRAMS %>
	        <ul class="<%= name.downcase.gsub(" ", "-") %>">
		  <li><h3><%= name %></h3></li>
		  <li><h4><%= description %></h4></li>
		  <% programs.each do |name, path| %>
		  <li><a href="/programs/<%= path %>"><%= name %></a></li>
		  <% end %>
		</ul>
	      <% end %>
	    </div>
	  </li>
	  <li class="item">
	    <a class="top-link" id="events-link" href="/events">Events</a>
	  </li>
	  <li class="item">
	    <a class="top-link" id="registration-link" href="/registration">Registration</a>
	  </li>
	  <li class="item">
	    <a class="top-link" id="donate-link" href="/donate">Donate</a>
	  </li>
	</ul>
      </div>
    </div>
    <div class="main-across">
      <div class="content">
	<p>
	  Fostering community through music and art.
	</p>
      </div>
    </div>
    <div class="main">
      <%= yield %>
    </div>
    <div class="main-across">
      <div class="content cf">
	<% if @show_large_icons %>
	<h2>Stay Connected</h2>
	<ul id="large-icons" class="cf">
	  <li>
	    <a target="_blank" href="http://www.facebook.com/pages/Northern-California-Music-Art-Culture-Center/239803094052">Facebook</a>
	    <div><a target="_blank" href="http://www.facebook.com/pages/Northern-California-Music-Art-Culture-Center/239803094052"><img src="/images/icons/facebook.png" alt="" /></a></div>
	  </li>
	  <li>
	    <a target="_blank" href="http://www.twitter.com/ncmacc">Twitter</a>
	    <div><a target="_blank" href="http://www.twitter.com/ncmacc"><img src="/images/icons/twitter.png" alt="" /></a></div>
	  </li>
	  <li>
	    <a target="_blank" href="http://www.youtube.com/ncmacc">YouTube</a>
	    <div><a target="_blank" href="http://www.youtube.com/ncmacc"><img src="/images/icons/youtube.png" alt="" /></a></div>
	  </li>
	  <li>
	    <a target="_blank" href="http://blog.ncmacc.org/">Blog</a>
	    <div><a target="_blank" href="http://blog.ncmacc.org/"><img src="/images/icons/wordpress.png" alt="" /></a></div>
	  </li>
	</ul>
	<% else %>
	<p class="to-right">
	  <div class="connected-text">Stay connected</div>&nbsp;&nbsp;&nbsp;
	  <a target="_blank" href="http://www.facebook.com/pages/Northern-California-Music-Art-Culture-Center/239803094052"><img src="/images/icons/facebook-32.png" alt="" /></a>
	  <a target="_blank" href="http://www.twitter.com/ncmacc"><img src="/images/icons/twitter-32.png" alt="" /></a>
	  <a target="_blank" href="http://www.youtube.com/ncmacc"><img src="/images/icons/youtube-32.png" alt="" /></a>
	  <a target="_blank" href="http://blog.ncmacc.org/"><img src="/images/icons/wordpress-32.png" alt="" /></a>
	</p>
	<% end %>
      </div>
    </div>
    <div class="footer cf">
      <div class="content stuff">
	<ul class="first">
	  <li><h3><a href="/">NCMACC</a></h3></li>
	  <% [["About", "/about"], ["Board", "/about/board"], ["Faculty and Staff", "/about/faculty_and_staff"], ["Contact Us", "/about/contact_us"],
	     ["FAQs", "/about/faqs"], ["Donate", "/donate"], ["Registration", "/registration"], ["Jobs", "/jobs"]].each do |name, path| %>
	  <li><a href="<%= path %>"><%= name %></a></li>
	  <% end %>
	</ul>
	<div class="programs">
	  <% PROGRAMS.each do |name, program| %>
	  <ul>
	    <li><h3><%= name %></h3></li>
	    <% program.each do |name, path| %>
	    <li><a href="/programs/<%= path %>"><%= name %></a></li>
	    <% end %>
	  </ul>
	  <% end %>
	</div>
	<ul class="networks">
	  <li><h3>Networks</h3></li>
	  <li><a target="_blank" href="http://www.facebook.com/pages/Northern-California-Music-Art-Culture-Center/239803094052">Facebook</a></li>
	  <li><a target="_blank" href="http://www.twitter.com/ncmacc">Twitter</a></li>
	  <li><a target="_blank" href="http://www.youtube.com/ncmacc">YouTube</a></li>
	  <li><a target="_blank" href="http://blog.ncmacc.org/">Blog</a></li>
	</ul>
	<div class="last">
	  <h3>Northern California Music &amp; Art Culture Center</span></h3>
	  <p>
	    1280 Webster St.<br/>
	    San Francisco, CA 94115<br/>
	    Phone &amp; Fax: (415) 440-6222<br/>
	    Email: <a href="mailto:ncmacc@ncmacc.org">ncmacc@ncmacc.org</a><br/>
	  </p>
	</div>
      </div>
    </div>
  </body>
</html>
