<div class="content stuff">
  <h1>NCMACC Advisory and Board</h1>
  <h2>Advisory Council</h2>
  <ul class="cf">
    <% for advisory_member in @advisory %>
      <li class="person cf">
	<div class="biography">
	  <ul>
	    <li><h3><%= advisory_member.name %></h3></li>
	    <li><h4><%= advisory_member.position.sort.join(", ") %></h4></li>
	    <li>
	      <p>
		<%= advisory_member.job.join("<br/>") %>
	      </p>
	    </li>
	  </ul>
	</div>
      </li> 
    <% end %>
  </ul>
  
  <h2>Board Members</h2>
    <ul class="cf">
    <% for board_member in @board %>
      <li class="person cf">
	<div class="biography">
	  <ul>
	    <li><h3><%= board_member.name %></h3></li>
	    <li><h4><%= board member.position %></h4></li>
	    <li>
	      <p>
		<%= board_member.job.join("<br/>") %>
	      </p>
	    </li>
	  </ul>
	</div>
      </li>
    <% end %>
  </ul>

</div>
